<div>
  {% if user.is_authenticated%}
    <p>Driver: <a href="{% url 'taxi:driver-detail' pk=1 %}">{{user.username}}</a></p>

    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <input class="link" type="submit" value="Logout">
    </form>

  {% else %}
    <a class="nav-link active" href="{% url 'login' %}">Login</a>
  {% endif %}
</div>


<ul class="sidebar-nav">
  <li><a href="{% url "taxi:index" %}">Home page</a></li>
  <li><a href="{% url "taxi:manufacturer-list" %}">Manufacturers</a></li>
  <li><a href="{% url "taxi:car-list" %}">Cars</a></li>
  <li><a href="{% url "taxi:driver-list" %}">Drivers</a></li>
</ul>
